// Component Css

.knob-progress-color {
  stroke: #333399;
  stroke-linecap: butt;
  stroke-width: 40px;

  ~ text {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: var(--roundknob-parentage-color);
    stroke: var(--roundknob-parentage-color);
    fill: var(--roundknob-parentage-color);
  }
}
.to-do-content {
  min-height: 790px;
  height: 790px;
  overflow-x: hidden;
}
label {
  padding: 3px 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-radius: 3px;
  margin: 0 5px;

  &.danger-label {
    color: var(--danger-color);
    background-color: var(--danger-background-color);
  }
  &.success-label {
    color: var(--success-color);
    background-color: var(--success-background-color);
  }
  &.primary-label {
    color: var(--prospect-color);
    background-color: var(--prospect-background-color);
  }
  &.grey-label {
    color: white;
    background-color: grey;
  }
}

.dashboard-blue-card.card {
  background: linear-gradient(65.81deg, #2442a4 0%, #556ecf 100%);
  border-radius: 5px;
  border: 0;
  color: #ffffff;

  .numbers {
    font-weight: 300;
    font-size: 3rem;
    color: #ffffff;
    line-height: 1;
    padding-top: 1rem;
    position: relative;
    top: 0.75rem;
  }

  p {
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #ffffff;
    margin-bottom: 0;
    text-transform: capitalize;
  }
}

.modal {
  .modal-header,
  .modal-footer {
    border: none;
    justify-content: flex-start;
  }
  .modal-footer {
    padding-top: 0;
  }
  .modal-dialog.modal-50w {
    width: 100%;
    max-width: 50%;
    margin: 0 0 0 auto;
    min-height: 100vh;
    display: flex;

    .modal-content {
      border-color: var(--form-right-background);
      background: var(--form-right-background);

      .modal-footer {
        padding: 0.875rem;

        button:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .modal-dialog.modal-todo-list {
    width: 100%;
    max-width: 400px;
    margin: 0 0 0 auto;
    min-height: 100vh;
    display: flex;

    .modal-header {
      border: none;
      background: #fcfade;

      .modal-title {
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.25rem;
        color: #000;
      }
    }
  }
}

.modal-backdrop.no-backdrop-modal {
  opacity: 0;
}

.option-field .form-check-inline {
  margin-right: 10px;
}
.option-field .form-check-inline label {
  margin: 0;
}
.modal.quickAdd-popup {
  .modal-header {
    padding: 1rem 1.5rem 0 0.875rem;
  }
  .modal-body h6 {
    font-size: 18px;
  }
  .modal-dialog .modal-body {
    padding: 0.875rem;
  }
}

button.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.btn.btn-secondary {
  background: white;
  border: 1px solid #cad3e0;
  color: black;
}

.pro-sidebar .pro-menu a {
  &.menuActive {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 4px;
      border-radius: 50px;
      background-color: #ffffff;
      left: 0;
      top: 0;
    }
  }

  &::before {
    content: none;
  }
}

ul.tab-component.nav-tabs {
  border-bottom: 1px solid #6261612b;

  li.nav-item {
    margin: 0 5px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    .nav-link {
      margin-bottom: 0;
      border: none;
      font-weight: 500;
      font-size: 15px;
      line-height: 17px;
      color: grey;
      border-bottom: 3px solid transparent;

      &.active {
        background: transparent;
        color: #2f4cad;
        border: transparent;
        border-bottom: 3px solid #2f4cad;
      }
    }
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">") !important ;
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .option-field .form-check-inline {
    margin-right: 2px;
  }
  .dashboard-blue-card.card {
    .numbers {
      font-size: 2rem;
    }
  }
  .dashboard-blue-img img {
    width: 35px;
  }
  .dashboard-blue-card.card p {
    font-size: 0.94rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .dashboard-blue-img img {
    width: 40px;
  }
  .dashboard-blue-card.card .numbers {
    font-size: 2.5rem;
  }
  .dashboard-blue-card.card p {
    font-size: 1rem;
  }
  .pageHeader {
    font-size: 1.22rem;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1399px) {
  .dashboard-blue-img img {
    width: 40px;
  }
  .dashboard-blue-card.card .numbers {
    font-size: 2.5rem;
  }
  .dashboard-blue-card.card p {
    font-size: 1.2rem;
  }
  .pageHeader {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1700px) {
  .dashboard-blue-card {
    &.card {
      .numbers {
        font-size: 2.3rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

.accordion {
  .accordion-item {
    margin-bottom: 0.5rem;
    border: none;

    &:first-child,
    &:last-child {
      border-radius: 0;
    }
    &:last-child {
      .accordion-button.collapsed {
        border-radius: 5px;
      }
    }

    .accordion-header {
      button {
        padding: 0.625rem 1.25rem;
        background: var(--table-heading-row);
        border-radius: 5px;
        box-shadow: none;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.33;
        color: var(--font-color);

        &:not(.collapsed)::after {
          background: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
        }
      }
    }
  }
}

.sub-menu-active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    border-radius: 50px;
    background-color: #ffffff;
    left: 0;
    top: 0;
  }
  &::before {
    content: none;
  }
}

.wizard-form {
  .steps {
    ul {
      overflow: hidden;
      border-bottom: 1px solid rgba(98, 97, 97, 0.2);
      .wizard-item {
        cursor: default;

        &.active {
          span {
            background: transparent;
            color: #2f4cad;
            border: transparent;
            border-bottom: 3px solid #2f4cad;
          }
        }
        span {
          display: block;
          padding: 0.5rem 1rem;
          color: #0d6efd;
          text-decoration: none;
          transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out;
          margin-bottom: 0;
          border: none;
          font-weight: 500;
          font-size: 16px;
          line-height: 17px;
          color: grey;
          border-bottom: 3px solid transparent;
        }
      }
    }
  }

  .step-component {
    padding: 20px 0;
  }

  .btn-component {
    display: flex;
  }
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #979899;
  border-color: #979899;
}

.btn-close {
  background: transparent
    url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSINCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTEyIDIxQzE2Ljk3MDYgMjEgMjEgMTYuOTcwNiAyMSAxMkMyMSA3LjAyOTQ0IDE2Ljk3MDYgMyAxMiAzQzcuMDI5NDQgMyAzIDcuMDI5NDQgMyAxMkMzIDE2Ljk3MDYgNy4wMjk0NCAyMSAxMiAyMVoiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQogIDxwYXRoIGQ9Ik0xNCAxMEwxMCAxNE0xMCAxMEwxNCAxNEwxMCAxMFoiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+DQo8L3N2Zz4NCg==")
    no-repeat center center/auto auto;
  opacity: 1;
}

[data-theme="dark"] {
  .accordion-button::after {
    filter: brightness(0) invert(1);
  }
}
